body {
    transition: all 0.5s ease-in-out;
}



.multiple-cards .row > div {
    padding: 0 7px;
    margin-bottom: 14px;
}

figure {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    height: 100%;
}


    figure img {
        width: 100%;
    }

.card-caption {
    background-color: white;
    border-radius: 0 0 6px 6px;
    padding: 20px;
}

.card-head {
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #025599;
    text-transform: capitalize;
}

.card-para {
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: #797979;
}

.fig-btn {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    background-color: #025599;
    padding: 9px 20px;
    border: none;
    text-transform: capitalize;
    border-radius: 4px;
}

a {
    text-decoration: none !important;
}



/*books styling*/


/*books styling*/


.dropdownUser {
    display: block !important;
}

.RigthSideBar {
    display: none !important;
}


.center-bar-head:after {
    content: "Beneficios sin costo"
}


/*modeal book pdf*/

.modal-dialog {
    max-width: unset !important;
    margin: 0 !important;
}

.modal-content {
    background-color: unset !important;
    border: none !important;
    height: 100vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*modeal book pdf*/



