/*video player*/

.video-head {
    font-size: 24px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.video-head1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
}

.video-para {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: #797979;
}

.video-detail1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: capitalize;
    color: black;
    margin-bottom: 5px;
    margin-top: 8px;
}

.video-detail2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-bottom: 5px
}
