



body {
    overflow-x: hidden;
    font-family: 'Figtree', sans-serif;
}


@media screen and (max-width:992px) {
    .img {
        display: none !important;
    }
}

.login-head {
    font-size: 64px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}


.loginpara {
    font-size: 55px;
    font-weight: 600;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-top: 5rem;
}


.up-left {
    position: absolute;
    width: 800px;
    height: 800px;
    top: -120px;
    left: -50px;
    background: radial-gradient(circle, rgba(2,85,153,1) 40%, rgba(255,255,255,0) 74%);
    opacity: 0.2;
    filter: blur(15px);
    z-index: -1;
}

.down-right {
    position: absolute;
    width: 800px;
    height: 800px;
    bottom: 0px;
    right: -130px;
    background: radial-gradient(circle, rgba(2,85,153,1) 40%, rgba(255,255,255,0) 74%);
    opacity: 0.2;
    filter: blur(15px);
    z-index: -1;
}




/*form styling*/

.form {
    max-width: 500px !important;
}

div.form-item {
    position: relative;
    display: block;
    margin-bottom: 30px;
    width: 100%;
}

input {
    transition: all 0.2s ease;
}

    input.form-style {
        display: block;
        height: 55px;
        padding: 5px 1px;
        border: none;
        border-bottom: 1px solid rgba(121, 121, 121, 1);
        border-radius: 0;
        background-color: transparent;
        max-width: 500px;
        width: 100%;
        font-size: 17px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(0, 0, 0, 1);
    }

div.form-item .form-style:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(121, 121, 121, 1);
}

input.form-style::placeholder {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    text-transform: capitalize;
}



input[type="submit"].login {
    float: right;
    height: 55px;
    border-radius: 8px;
    background-color: #025599;
    border: 1px solid #025599;
    border: none;
    color: #fff;
    width: 100%;
    max-width: unset;
}

    input[type="submit"].login:hover {
        background-color: transparent;
        border: 1px solid #025599;
        color: #025599;
        cursor: pointer;
    }

    input[type="submit"].login:focus {
        outline: none;
    }



/*form styling*/
